* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-image: url('/public/img/pexels-photo-14676.png');
  background-size: cover;
}

#app {
  width: 66%;
}

.text-gradient {
  background-image: -webkit-linear-gradient(180deg, #3cd8fa, #3cfa9f); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(180deg, #3cd8fa, #3cfa9f); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(180deg, #3cd8fa, #3cfa9f); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(180deg, #3cd8fa, #3cfa9f); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(180deg, #3cd8fa, #3cfa9f); /* Standard syntax; must be last */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
