* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-image: url('/public/img/pexels-photo-14676.png');
  background-size: cover;
}

h1 {
  font-size: 72px;
}

kbd {
  font-size: 48px;
  opacity: 1;
}

#app {
  width: 66%;
}

.machine-container {
  position: relative;
  height: 0;
  padding-bottom: 57%;
}

.machine-body {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #2e3740;
}

.row {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  padding-top: 2%;
}

.column-1 {
  width: 14.33%;
  margin-left: 2%;
  display: flex;
  justify-content: center;
}

.column-2 {
  width: 47%;
  margin-left: 2%;
}

.display-container {
  position: relative;
  width: 95%;
  height: 0;
  padding-bottom: 50%;
}

.display {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #313a42;
  opacity: 1;
}

.text-gradient {
  background-image: -webkit-linear-gradient(180deg, #3cd8fa, #3cfa9f); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(180deg, #3cd8fa, #3cfa9f); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(180deg, #3cd8fa, #3cfa9f); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(180deg, #3cd8fa, #3cfa9f); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(180deg, #3cd8fa, #3cfa9f); /* Standard syntax; must be last */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.lines {
  justify-content: flex-end;
  padding-top: 0;
  padding-right: 2%;
}

.line {
  height: 2px;
  width: 100%;
  margin-bottom: 3%;
  background-color: #f5d04c;
}

.buttons {
  align-self: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 4%;
}

.button {
  background-color: #ff7596;
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: transform 0.04s ease-in;
}

.button-active {
  transform: scale(1.1);
}

.button-ring {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: border 0.04s ease-in;
}

.button-ring-active {
  border: solid 2px #34b3fa;
}
